@if index($hamburger-types, squeeze) {
	/*
	* Squeeze
	*/
	.hamburger--plus-minus {
		.hamburger-inner {
			transition-duration: 0.075s;
			transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

			&::before {
				display: none;
			}

			&::after {
				top: 0;
				transform: rotate(90deg);
				transition: transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
			}
		}

		&.is-active {
			.hamburger-inner {
				&::after {
					transform: rotate(0);
				}
			}
		}
	}
}
