.h1,
.h2,
.h3,
.h4,
.h5,
h1,
h2,
h3,
h4,
h5 {
	// font-weight: bold;
	// text-transform: uppercase;
	// font-style: italic;
}

.font-family-primary {
	font-family: $font-family-base !important;
}

.font-family-secondary {
	font-family: $font-family-secondary !important;
}
